body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 90%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: green;
}

.nav-links a {
    padding: 0 10px;
    font-size: 14px;
}

.nav-button {
    background-color: green;
    padding: 10px 15px;
    color: white;
}


.hero {
    background-image: url(hero-image.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
    color: white;
    padding: 70px 100px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero span {
    color: green;
}

.hero p {
    max-width: 70%;
    margin: auto;
    font-size: 1rem;
    color: white;
}

.hero-buttons {
    margin-top: 30px;
}

.hero-buttons .btn-1 {
    background: #22c55e;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    margin-right: 10px;
    display: inline-block;
}

.hero-buttons .btn-2 {
    border: 1px solid white;
    padding: 12px 20px;
    color: white;
    border-radius: 4px;
    display: inline-block;
}

.hero-2 {
    padding: 80px 0;
    text-align: center;
}

.hero-2 h2 {
    font-size: 2.2rem;
}

.hero-2 p {
    color: gray;
    margin-top: 10px;
}

.hero-2-boxes {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-2-box {
    width: 23%;
    border: 1px solid gray;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.hero-2-box p {
    font-size: 0.8rem;
    color: gray;
}

.hero-3-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 60px;
}

.hero-3-left {
    width: 40%;
}

.circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background: white;
    margin: auto;
}

.hero-3-right {
    width: 50%;
}

.hero-3-right h5 {
    color: green;
    font-size: 1rem;
}

.hero-3-right h2 {
    font-size: 2rem;
    margin: 10px 0;
}

.hero-3-right p {
    color: gray;
}

.hero-3-right li {
    margin-bottom: 10px;
}

.hero-4 {
    padding: 80px 0;
    text-align: center;
    background: #f5f5f5;
}

.hero-4 h2 {
    font-size: 2rem;
}

.hero-4 p {
    color: gray;
    padding: 10px 0; 
}


.footer {
    background-color: rgb(24, 24, 75);
    padding: 20px;
    color: #fff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 8px;
}

.social-icons a {
    width: 28px;
    height: 28px;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
}
hr{
    margin: 20px 0;
}
.footer-bottom {
    text-align: center;
    font-size: 1rem;
    padding: 8px;
}
